n8n-workflows/01-start-command.json
{
  "name": "TaskFlow 01 — /start",
  "nodes": [
    {
      "parameters": { "updates": ["message"] },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [0, 300],
      "id": "tf01-telegram-trigger",
      "name": "TelegramTrigger"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const t = $input.first().json.message?.text ?? '';\nif (!t.startsWith('/start')) return [];\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 300],
      "id": "tf01-only-start",
      "name": "OnlyStart"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.NEXT_PUBLIC_APP_URL }}/api/internal/user-register",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "x-n8n-secret", "value": "={{ $env.N8N_SECRET }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ telegramId: $json.message.from.id, name: ([$json.message.from.first_name, $json.message.from.last_name].filter(Boolean).join(' ') || 'User').trim(), username: $json.message.from.username || undefined }) }}"
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300],
      "id": "tf01-register",
      "name": "RegisterUser"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "version": 2, "leftValue": "", "caseSensitive": true, "typeValidation": "strict" },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.isNew }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [700, 300],
      "id": "tf01-if-new",
      "name": "IfNewUser"
    },
    {
      "parameters": {
        "chatId": "={{ $('TelegramTrigger').item.json.message.chat.id }}",
        "text": "=Welcome to TaskFlow! Your account is ready.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [960, 180],
      "id": "tf01-msg-welcome",
      "name": "SendWelcome"
    },
    {
      "parameters": {
        "chatId": "={{ $('TelegramTrigger').item.json.message.chat.id }}",
        "text": "=Welcome back to TaskFlow!",
        "additionalFields": { "appendAttribution": false }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [960, 420],
      "id": "tf01-msg-return",
      "name": "SendReturning"
    },
    {
      "parameters": {
        "chatId": "={{ $('TelegramTrigger').item.json.message.chat.id }}",
        "text": "=Open the app below to manage tasks.",
        "additionalFields": {
          "appendAttribution": false,
          "replyMarkup": "inlineKeyboard",
          "inlineKeyboard": {
            "rows": [
              {
                "row": {
                  "buttons": [
                    {
                      "text": "📋 Open TaskFlow",
                      "additionalFields": {
                        "web_app": { "url": "={{ $env.NEXT_PUBLIC_APP_URL }}" }
                      }
                    }
                  ]
                }
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1180, 300],
      "id": "tf01-open-app",
      "name": "SendOpenAppButton"
    }
  ],
  "connections": {
    "TelegramTrigger": { "main": [[{ "node": "OnlyStart", "type": "main", "index": 0 }]] },
    "OnlyStart": { "main": [[{ "node": "RegisterUser", "type": "main", "index": 0 }]] },
    "RegisterUser": { "main": [[{ "node": "IfNewUser", "type": "main", "index": 0 }]] },
    "IfNewUser": {
      "main": [
        [{ "node": "SendWelcome", "type": "main", "index": 0 }],
        [{ "node": "SendReturning", "type": "main", "index": 0 }]
      ]
    },
    "SendWelcome": { "main": [[{ "node": "SendOpenAppButton", "type": "main", "index": 0 }]] },
    "SendReturning": { "main": [[{ "node": "SendOpenAppButton", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "meta": { "templateCredsSetupCompleted": false },
  "pinData": {},
  "active": false,
  "versionId": "00000000-0000-4000-8000-000000000001",
  "id": "taskflow-wf-01-start",
  "tags": []
}
