n8n-workflows/02-tasks-command.json
{
  "name": "TaskFlow 02 — /tasks",
  "nodes": [
    {
      "parameters": { "updates": ["message"] },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [0, 300],
      "id": "tf02-telegram-trigger",
      "name": "TelegramTrigger"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const t = $input.first().json.message?.text ?? '';\nif (t.trim().split(/\\s+/)[0] !== '/tasks') return [];\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 300],
      "id": "tf02-only-tasks",
      "name": "OnlyTasks"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.NEXT_PUBLIC_APP_URL }}/api/internal/task-summary",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "x-n8n-secret", "value": "={{ $env.N8N_SECRET }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ telegramId: $json.message.from.id }) }}"
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300],
      "id": "tf02-summary",
      "name": "TaskSummary"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const b = $json.data ?? $json.body?.data ?? $json;\nconst name = b.name ?? 'there';\nconst open = b.totalOpen ?? 0;\nconst bs = b.byStatus || {};\nconst lines = [\n  `Hi ${name}!`,\n  `Open tasks: ${open}`,\n  `Todo: ${bs.todo ?? 0} · In progress: ${bs.in_progress ?? 0} · Review: ${bs.review ?? 0} · Done: ${bs.done ?? 0}`,\n  `Overdue: ${b.overdue ?? 0} · Due today: ${b.upcomingDueToday ?? 0}`\n];\nreturn [{ json: { chatId: $('TelegramTrigger').item.json.message.chat.id, text: lines.join('\\n') } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 300],
      "id": "tf02-format",
      "name": "FormatSummary"
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.text }}",
        "additionalFields": { "appendAttribution": false }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [940, 300],
      "id": "tf02-send",
      "name": "SendSummary"
    },
    {
      "parameters": {
        "chatId": "={{ $('TelegramTrigger').item.json.message.chat.id }}",
        "text": "Open the mini app for full details.",
        "additionalFields": {
          "appendAttribution": false,
          "replyMarkup": "inlineKeyboard",
          "inlineKeyboard": {
            "rows": [
              {
                "row": {
                  "buttons": [
                    {
                      "text": "📋 Open TaskFlow",
                      "additionalFields": {
                        "web_app": { "url": "={{ $env.NEXT_PUBLIC_APP_URL }}" }
                      }
                    }
                  ]
                }
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1160, 300],
      "id": "tf02-open",
      "name": "SendOpenApp"
    }
  ],
  "connections": {
    "TelegramTrigger": { "main": [[{ "node": "OnlyTasks", "type": "main", "index": 0 }]] },
    "OnlyTasks": { "main": [[{ "node": "TaskSummary", "type": "main", "index": 0 }]] },
    "TaskSummary": { "main": [[{ "node": "FormatSummary", "type": "main", "index": 0 }]] },
    "FormatSummary": { "main": [[{ "node": "SendSummary", "type": "main", "index": 0 }]] },
    "SendSummary": { "main": [[{ "node": "SendOpenApp", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "meta": { "templateCredsSetupCompleted": false },
  "pinData": {},
  "active": false,
  "versionId": "00000000-0000-4000-8000-000000000002",
  "id": "taskflow-wf-02-tasks",
  "tags": []
}
