n8n-workflows/03-task-assigned-notification.json
{
  "name": "TaskFlow 03 — task assigned (webhook)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "taskflow-task-assigned",
        "responseMode": "onReceived",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 300],
      "webhookId": "taskflow-task-assigned",
      "id": "tf03-webhook",
      "name": "Webhook"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const b = $input.first().json.body ?? $input.first().json;\nreturn [{ json: b }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [240, 300],
      "id": "tf03-parse",
      "name": "ParseBody"
    },
    {
      "parameters": {
        "chatId": "={{ $json.assigneeTelegramId }}",
        "text": "=📌 New task assigned by {{ $json.assignedByName }}: {{ $json.taskTitle }}",
        "additionalFields": {
          "appendAttribution": false,
          "replyMarkup": "inlineKeyboard",
          "inlineKeyboard": {
            "rows": [
              {
                "row": {
                  "buttons": [
                    {
                      "text": "Open task",
                      "additionalFields": {
                        "web_app": {
                          "url": "={{ $env.NEXT_PUBLIC_APP_URL + '/tasks/' + $json.taskId }}"
                        }
                      }
                    }
                  ]
                }
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [500, 300],
      "id": "tf03-tg",
      "name": "NotifyAssignee"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.NEXT_PUBLIC_APP_URL }}/api/internal/notifications",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "x-n8n-secret", "value": "={{ $env.N8N_SECRET }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ taskId: $json.taskId, userId: $json.assigneeUserId, type: 'assigned' }) }}"
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [760, 300],
      "id": "tf03-log",
      "name": "LogNotification"
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "ParseBody", "type": "main", "index": 0 }]] },
    "ParseBody": { "main": [[{ "node": "NotifyAssignee", "type": "main", "index": 0 }]] },
    "NotifyAssignee": { "main": [[{ "node": "LogNotification", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "meta": { "templateCredsSetupCompleted": false },
  "pinData": {},
  "active": false,
  "versionId": "00000000-0000-4000-8000-000000000003",
  "id": "taskflow-wf-03-assigned",
  "tags": []
}
