n8n-workflows/04-due-reminders.json
{
  "name": "TaskFlow 04 — due reminders (daily)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 300],
      "id": "tf04-schedule",
      "name": "EveryDay8am"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.NEXT_PUBLIC_APP_URL }}/api/internal/due-reminders",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "x-n8n-secret", "value": "={{ $env.N8N_SECRET }}" }]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [240, 300],
      "id": "tf04-get",
      "name": "FetchReminders"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const raw = $input.first().json;\nconst arr = raw.data ?? raw.body?.data ?? [];\nif (!Array.isArray(arr)) return [];\nreturn arr.map((item) => ({ json: item }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300],
      "id": "tf04-split",
      "name": "ToItems"
    },
    {
      "parameters": {
        "chatId": "={{ $json.telegramId }}",
        "text": "=⏰ Task due soon: {{ $json.taskTitle }} — due {{ $json.dueDate }}",
        "additionalFields": { "appendAttribution": false }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [720, 300],
      "id": "tf04-tg",
      "name": "SendReminder"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.NEXT_PUBLIC_APP_URL }}/api/internal/notifications",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "x-n8n-secret", "value": "={{ $env.N8N_SECRET }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ taskId: $json.taskId, userId: $json.assigneeUserId, type: 'reminder' }) }}"
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, 300],
      "id": "tf04-log",
      "name": "LogNotification"
    }
  ],
  "connections": {
    "EveryDay8am": { "main": [[{ "node": "FetchReminders", "type": "main", "index": 0 }]] },
    "FetchReminders": { "main": [[{ "node": "ToItems", "type": "main", "index": 0 }]] },
    "ToItems": { "main": [[{ "node": "SendReminder", "type": "main", "index": 0 }]] },
    "SendReminder": { "main": [[{ "node": "LogNotification", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "meta": { "templateCredsSetupCompleted": false },
  "pinData": {},
  "active": false,
  "versionId": "00000000-0000-4000-8000-000000000004",
  "id": "taskflow-wf-04-reminders",
  "tags": []
}
